# folders to ignore

hecmontreal-110ans/
gabarits_hecmontreal/
hecppt/

# file extensions to ignore
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.dvi
*.glo
*.idx
*.tex
*.sty
*.zip
*.cls
*.gls
*.ilg
*.ind

#files to ignore
gabarit.pdf
img/Thumbs.db